<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.components.mall.CommodityPrice"*/-->
<span th:fragment="price(component)" class="price">
    <span>￥</span>
    <span class="sell-price" th:utext="${new java.text.DecimalFormat('0.00').format(new java.lang.Double(component.commodity.sellPrice) / 100)}"></span>
</span>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.components.mall.CommodityActionBar"*/-->
<div th:fragment="action-bar(component)" class="ui bottom fixed two item menu">
    <a class="ui button item" th:href="@{/mall/cart}">我的购物车</a>
    <button class="ui button item add-shopping-cart" th:href="@{/mall/cart}">加入购物车</button>
    <form class="add-shopping-cart" th:action="@{/mall/cart/item/add}" method="post" style="display: none;">
        <input name="id" th:value="${component.commodity.id}"/>
    </form>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("button.add-shopping-cart").click(function () {
                $("form.add-shopping-cart").submit();
            });
        });
    </script>
</div>

</body>
</html>