<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.components.mall.ShoppingCart"*/-->
<th:block th:fragment="shopping-cart(component)">
    <div class="ui inverted page dimmer">
        <div class="ui text loader"></div>
    </div>
    <form id="form" th:action="@{/mall/cart/item}" method="post">
        <input type="hidden" id="csrf" th:value="${_csrf.token}"/>
        <input type="hidden" id="formId" name="id"/>
        <input type="hidden" id="formSelected" name="selected"/>
        <input type="hidden" id="formQuantity" name="quantity"/>
    </form>
    <div class="ui horizontal divider">我的购物车</div>
    <div class="ui segments shopping-cart-items">
        <div th:each="item : ${component.items}" class="ui segment item">
            <div class="cart-item-select">
                <div class="ui checkbox">
                    <input class="select" th:id="|select-${item.id}|" name="selected" type="checkbox"
                           th:checked="${item.selected}"
                           data-th-item-id="${item.id}"
                           th:value="${item.selected}"/>
                    <label th:for="|select-${item.id}|"></label>
                </div>
            </div>
            <div class="ui tiny bordered image">
                <a th:href="@{|/mall/item/${item.commodity.id}.html|}">
                    <img th:src="@{${item.commodity.cover}}"/>
                </a>
            </div>
            <div class="content">
                <div class="info">
                    <a class="header" th:utext="${item.commodity.title}"></a>
                </div>
                <div class="action">
                    <div class="price">
                        <span>￥</span>
                        <span class="sell-price"
                              th:utext="${new java.text.DecimalFormat('0.00').format(new java.lang.Double(item.commodity.sellPrice) / 100)}"></span>
                    </div>
                    <div class="spanner" data-th-id="${item.id}">
                        <i class="minus fitted icon" th:classappend="${item.quantity eq 1 ? 'disabled' : ''}"></i>
                        <input class="quantity" th:id="|quantity-${item.id}|" data-th-item-id="${item.id}"
                               th:value="${item.quantity}" type="number" min="1" max="200"/>
                        <i class="plus fitted icon" th:classappend="${item.quantity eq 200 ? 'disabled' : ''}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom fixed two item menu">
        <div class="ui button item">
            合计：
            <div class="price">
                <span>￥</span>
                <span class="sell-price"
                      th:utext="${new java.text.DecimalFormat('0.00').format(new java.lang.Double(component.totalPrice) / 100)}"></span>
            </div>
        </div>
        <a class="ui button item" th:href="@{/mall/cart/order}" th:utext="|去结算(${component.selectCount})|"></a>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            var submitForm = function (itemId) {
                $("#formId").val(itemId);
                $("#formSelected").val($("#select-" + itemId).prop('checked'));
                $("#formQuantity").val($("#quantity-" + itemId).val());
                $("#form").submit();
                $(".ui.dimmer").dimmer("show");
            };

            $(".spanner").each(function () {
                var minus = $(this).children("i").get(0);
                var plus = $(this).children("i").get(1);
                var value = $(this).children("input");
                var id = $(this).attr("id");

                $(minus).click(function () {
                    $(value).val($(value).val() - 1);
                    $(value).change();
                });

                $(plus).click(function () {
                    $(value).val(parseInt($(value).val()) + 1);
                    $(value).change();
                });

                $(value).change(function () {
                    var value = $(this).val();

                    if (value <= 1) {
                        $(this).val(1);
                        $(minus).addClass("disabled");
                    } else if (value >= 200) {
                        $(this).val(200);
                        $(plus).addClass("disabled");
                    } else {
                        $(minus).removeClass("disabled");
                        $(plus).removeClass("disabled");
                    }
                    submitForm($(this).attr("item-id"));
                });
            });

            $(".select").change(function () {
                submitForm($(this).attr("item-id"));
            });
        });
    </script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.components.mall.ShoppingCartOrderActionBar"*/-->
<div th:fragment="action-bar(component)" class="ui bottom fixed two item menu">
    <div class="ui button item">
        实付款：
        <div class="price">
            <span>￥</span>
            <span class="sell-price"
                  th:utext="${new java.text.DecimalFormat('0.00').format(new java.lang.Double(component.totalPrice) / 100)}"></span>
        </div>
    </div>
    <button class="ui button item shopping-cart-order">立即下单</button>
    <form class="shopping-cart-order" th:action="@{/mall/cart/order}" method="post" style="display: none;"></form>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("button.shopping-cart-order").click(function () {
                $("form.shopping-cart-order").submit();
            });
        });
    </script>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.components.mall.Cashier"*/-->
<th:block th:fragment="cashier(component)">
    <form class="ui form shopping-cart-cashier" th:action="@{/mall/cashier}" method="post">
        <input name="id" th:value="${component.commodityOrder.id}" type="hidden"/>
        <div class="inline field">
            <label>支付密码：</label>
            <input name="password" type="password"/>
        </div>
        <button class="ui basic fluid button">立即支付</button>
    </form>
    <div class="ui bottom fixed one item menu">
        <button class="ui button item shopping-cart-cashier">立即支付</button>
        <script th:inline="javascript">
            $(document).ready(function () {
                $("button.shopping-cart-cashier").click(function () {
                    $("form.shopping-cart-cashier").submit();
                });
            });
        </script>
    </div>
</th:block>
</body>
</html>