<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.views.Feed"*/-->
<div th:fragment="default(component)" th:class="${component.getClassName()}">
    <p th:if="${#lists.isEmpty(component.feeds)}">暂无内容</p>
    <div th:each="feed : ${component.feeds}" class="event">
        <div th:if="${feed.target ne null}" class="label">
            <img th:src="@{${feed.target.portrait}}"/>
        </div>
        <div class="content">
            <div class="date" th:title="${#dates.format(feed.dateCreated, 'yyyy-MM-dd HH:mm:ss')}"
                 th:utext="${@timeDurationHelper.fromNow(feed.dateCreated)}"></div>
            <div class="summary" th:utext="${feed.content}"></div>
            <div th:unless="${#strings.isEmpty(feed.extraContent)}" class="extra text"
                 th:utext="${feed.extraContent}"></div>
        </div>
    </div>
</div>

</body>
</html>