<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.views.MobileList"*/-->
<div th:fragment="container(component)" th:class="${component.getClassName()}">
    <th:block th:each="item : ${component.items}">
        <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
    </th:block>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.views.MobileListItem"*/-->
<a th:fragment="item(component)" th:class="${component.getClassName()}" th:href="@{${component.url}}">
    <div class="content">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.component ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.component})}"></div>
        </th:block>
        <th:block th:if="${component.component eq null}">
            <div class="header" th:utext="${component.title}"></div>
        </th:block>
    </div>
    <div th:if="${component.subTitle ne null}" class="extra-content">
        [[${component.subTitle}]]
    </div>
    <div class="action">
        <i class="angle right icon"></i>
    </div>
</a>

</body>
</html>