<!--/**
    平台账户通用页面
**/-->
<!DOCTYPE html>
<html th:replace="~{qxcmp/layout :: frontend(layout=~{:: //body})}" xmlns:th="http://www.thymeleaf.org">
<body class="primary">
<div class="container">
    <div class="card-panel">
        <div class="center-align row">
            <div th:replace="~{qxcmp/account :: header}"></div>
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <div th:replace="~{qxcmp/common :: render}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>