target/
!.mvn/wrapper/maven-wrapper.jar
node_modules/
logs/
*.releaseBackup
*.versionsBackup
QXCMPApplication.java
application.yml
release.properties
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
