<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    默认按钮
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.Button"*/-->
<th:block th:fragment="default(component)">
    <button th:if="${component.anchor eq null}" th:type="${component.type.toString()}"
            th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}"
            th:utext="${component.text}"></button>

    <a th:if="${component.anchor ne null}"
       th:href="@{${component.anchor.href}}" th:target="${component.anchor.target}"
       th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}"
       th:utext="${component.text}"></a>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.AnimatedButton"*/-->
<th:block th:fragment="animated(component)">
    <button th:if="${component.anchor eq null}" th:type="${component.type.toString()}"
            th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <div th:replace="~{:: animated-content(${component})}"></div>
    </button>
    <a th:if="${component.anchor ne null}"
       th:href="@{${component.anchor.href}}" th:target="${component.anchor.target}"
       th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <div th:replace="~{:: animated-content(${component})}"></div>
    </a>
</th:block>

<th:block th:fragment="animated-content(component)">
    <div class="visible content">
        <th:block th:if="${component.visibleIcon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.visibleIcon})}"></div>
        </th:block>
        <span th:unless="${#strings.isEmpty(component.visibleText)}" th:utext="${component.visibleText}"></span>
    </div>
    <div class="hidden content">
        <th:block th:if="${component.hiddenIcon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.hiddenIcon})}"></div>
        </th:block>
        <span th:unless="${#strings.isEmpty(component.hiddenText)}" th:utext="${component.hiddenText}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.IconButton"*/-->
<th:block th:fragment="icon(component)">
    <button th:if="${component.anchor eq null}" th:class="${component.getClassName()}" th:type="${component.type.toString()}"
            th:tabindex="${component.tabIndex}">
        <i th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></i>
    </button>
    <a th:if="${component.anchor ne null}"
       th:href="@{${component.anchor.href}}" th:target="${component.anchor.target}"
       th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <i th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></i>
    </a>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.LabeledButton"*/-->
<th:block th:fragment="label(component)">
    <div th:if="${component.anchor eq null}" th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <div th:replace="~{:: label-content(${component})}"></div>
    </div>
    <a th:if="${component.anchor ne null}"
       th:href="@{${component.anchor.href}}" th:target="${component.anchor.target}"
       th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <div th:replace="~{:: label-content(${component})}"></div>
    </a>
</th:block>

<th:block th:fragment="label-content(component)">
    <th:block th:if="${component.leftLabel}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.label})}"></div>
        <div th:replace="~{qxcmp/globals/components :: component(${component.button})}"></div>
    </th:block>
    <th:block th:unless="${component.leftLabel}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.button})}"></div>
        <div th:replace="~{qxcmp/globals/components :: component(${component.label})}"></div>
    </th:block>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.LabeledIconButton"*/-->
<th:block th:fragment="label-icon(component)">
    <button th:if="${component.anchor eq null}" th:class="${component.getClassName()}" th:type="${component.type.toString()}"
            th:tabindex="${component.tabIndex}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        <span th:utext="${component.text}"></span>
    </button>
    <a th:if="${component.anchor ne null}"
       th:href="@{${component.anchor.href}}" th:target="${component.anchor.target}"
       th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        <span th:utext="${component.text}"></span>
    </a>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.AbstractButtons"*/-->
<th:block th:fragment="buttons(component)">
    <div th:class="${component.getClassName()}">
        <th:block th:each="button : ${component.buttons}">
            <div th:replace="~{qxcmp/globals/components :: component(${button})}"></div>
        </th:block>
    </div>
</th:block>
</body>
</html>