<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    默认按钮
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.Button"*/-->
<th:block th:fragment="default(component)">
    <button th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}"
            th:utext="${component.text}"></button>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.AnimatedButton"*/-->
<th:block th:fragment="animated(component)">
    <button th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <div class="visible content">
            <th:block th:if="${component.visibleIcon ne null}">
                <div th:replace="~{qxcmp/globals/components :: component(${component.visibleIcon})}"></div>
            </th:block>
            <span th:unless="${#strings.isEmpty(component.visibleText)}" th:utext="${component.visibleText}"></span>
        </div>
        <div class="hidden content">
            <th:block th:if="${component.hiddenIcon ne null}">
                <div th:replace="~{qxcmp/globals/components :: component(${component.hiddenIcon})}"></div>
            </th:block>
            <span th:unless="${#strings.isEmpty(component.hiddenText)}" th:utext="${component.hiddenText}"></span>
        </div>
    </button>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.IconButton"*/-->
<th:block th:fragment="icon(component)">
    <button th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <i th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></i>
    </button>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.LabeledButton"*/-->
<th:block th:fragment="label(component)">
    <div th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <th:block th:if="${component.leftLabel}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.label})}"></div>
            <div th:replace="~{qxcmp/globals/components :: component(${component.button})}"></div>
        </th:block>
        <th:block th:unless="${component.leftLabel}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.button})}"></div>
            <div th:replace="~{qxcmp/globals/components :: component(${component.label})}"></div>
        </th:block>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.button.LabeledIconButton"*/-->
<th:block th:fragment="label-icon(component)">
    <button th:class="${component.getClassName()}" th:tabindex="${component.tabIndex}">
        <i th:class="|${component.icon} icon|"></i>
        <span th:utext="${component.text}"></span>
    </button>
</th:block>
</body>
</html>