<!--/*
    页面组件
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    一般按钮
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.Container"*/-->
<th:block th:fragment="default(component)">
    <div class="ui container">
        <th:block th:each="component : ${component.components}">
            <div th:replace="~{qxcmp/globals/components :: component(${component})}"></div>
        </th:block>
    </div>
</th:block>
</body>
</html>