<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    页面页眉
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.header.AbstractHeader"*/-->
<div th:fragment="default(component)" th:class="${component.getClassName()}">
    <th:block th:if="${component.image ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
    </th:block>
    <th:block th:if="${component.icon ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
    </th:block>
    <div class="content">
        <span th:utext="${component.title}"></span>
        <div th:unless="${#strings.isEmpty(component.subTitle)}"
             class="sub header" th:utext="${component.subTitle}"></div>
    </div>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.header.PageHeader"*/-->
<th:block th:fragment="page-header(component)" th:switch="${component.type.getTag()}">
    <h1 th:case="h1" th:class="${component.getClassName()}">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.icon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        </th:block>
        <div class="content">
            <span th:utext="${component.title}"></span>
            <div th:unless="${#strings.isEmpty(component.subTitle)}"
                 class="sub header" th:utext="${component.subTitle}"></div>
        </div>
    </h1>
    <h2 th:case="h2" th:class="${component.getClassName()}">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.icon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        </th:block>
        <div class="content">
            <span th:utext="${component.title}"></span>
            <div th:unless="${#strings.isEmpty(component.subTitle)}"
                 class="sub header" th:utext="${component.subTitle}"></div>
        </div>
    </h2>
    <h3 th:case="h3" th:class="${component.getClassName()}">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.icon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        </th:block>
        <div class="content">
            <span th:utext="${component.title}"></span>
            <div th:unless="${#strings.isEmpty(component.subTitle)}"
                 class="sub header" th:utext="${component.subTitle}"></div>
        </div>
    </h3>
    <h4 th:case="h4" th:class="${component.getClassName()}">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.icon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        </th:block>
        <div class="content">
            <span th:utext="${component.title}"></span>
            <div th:unless="${#strings.isEmpty(component.subTitle)}"
                 class="sub header" th:utext="${component.subTitle}"></div>
        </div>
    </h4>
    <h5 th:case="h5" th:class="${component.getClassName()}">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.icon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        </th:block>
        <div class="content">
            <span th:utext="${component.title}"></span>
            <div th:unless="${#strings.isEmpty(component.subTitle)}"
                 class="sub header" th:utext="${component.subTitle}"></div>
        </div>
    </h5>
    <h6 th:case="h6" th:class="${component.getClassName()}">
        <th:block th:if="${component.image ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        </th:block>
        <th:block th:if="${component.icon ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        </th:block>
        <div class="content">
            <span th:utext="${component.title}"></span>
            <div th:unless="${#strings.isEmpty(component.subTitle)}"
                 class="sub header" th:utext="${component.subTitle}"></div>
        </div>
    </h6>
</th:block>
</body>
</html>