<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    图片
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.elements.Image"*/-->
<th:block th:fragment="default(component)">
    <img th:if="${#strings.isEmpty(component.url)}"
         th:class="${component.getClassName()}" th:src="@{${component.source}}"/>
    <a th:unless="${#strings.isEmpty(component.url)}" th:href="@{${component.url}}"
       th:target="${component.urlTarget}" th:class="${component.getClassName()}">
        <img th:src="@{${component.source}}"/>
    </a>
</th:block>
</body>
</html>