<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.label.Label"*/-->
<th:block th:fragment="label(component)">
    <div th:if="${#strings.isEmpty(component.url)}" th:class="${component.getClassName()}">
        <div th:replace="~{:: label-content(${component})}"></div>
    </div>

    <a th:unless="${#strings.isEmpty(component.url)}" th:class="${component.getClassName()}"
       th:href="@{${component.url}}" th:target="${component.urlTarget}">
        <div th:replace="~{:: label-content(${component})}"></div>
    </a>
</th:block>

<th:block th:fragment="label-content(component)">
    <th:block th:if="${component.icon ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
    </th:block>
    <th:block th:if="not ${#strings.isEmpty(component.image)}">
        <img th:src="@{${component.image}}"/>
    </th:block>
    <span th:if="not ${#strings.isEmpty(component.text)}" th:utext="${component.text}"></span>
    <div th:if="not ${#strings.isEmpty(component.details)}" class="detail" th:utext="${component.details}"></div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.label.Labels"*/-->
<th:block th:fragment="labels(component)">
    <div th:class="${component.getClassName()}">
        <th:block th:each="label : ${component.labels}">
            <div th:replace="~{qxcmp/globals/components :: component(${label})}"></div>
        </th:block>
    </div>
</th:block>
</body>
</html>