<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.list.List"*/-->
<div th:fragment="list(component)" th:class="${component.getClassName()}">
    <th:block th:each="item : ${component.items}">
        <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
    </th:block>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.list.item.TextItem"*/-->
<th:block th:fragment="item-text(component)">
    <th:block th:if="${#strings.isEmpty(component.url)}">
        <div th:class="${component.getClassName()}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.content})}"></div>
            <div th:replace="~{:: sub-items(${component.items})}"></div>
        </div>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(component.url)}">
        <a th:class="${component.getClassName()}" th:href="@{${component.url}}" th:target="${component.urlTarget}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.content})}"></div>
            <div th:replace="~{:: sub-items(${component.items})}"></div>
        </a>
    </th:block>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.list.item.IconTextItem"*/-->
<th:block th:fragment="item-icon-text(component)">
    <th:block th:if="${#strings.isEmpty(component.url)}">
        <div th:class="${component.getClassName()}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                [[${component.text}]]
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </div>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(component.url)}">
        <a th:class="${component.getClassName()}" th:href="@{${component.url}}" th:target="${component.urlTarget}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                [[${component.text}]]
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </a>
    </th:block>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.list.item.ImageTextItem"*/-->
<th:block th:fragment="item-image-text(component)">
    <th:block th:if="${#strings.isEmpty(component.url)}">
        <div th:class="${component.getClassName()}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                [[${component.text}]]
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </div>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(component.url)}">
        <a th:class="${component.getClassName()}" th:href="@{${component.url}}" th:target="${component.urlTarget}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                [[${component.text}]]
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </a>
    </th:block>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.list.item.IconHeaderItem"*/-->
<th:block th:fragment="item-icon-header(component)">
    <th:block th:if="${#strings.isEmpty(component.url)}">
        <div th:class="${component.getClassName()}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                <div th:replace="~{qxcmp/globals/components :: component(${component.header})}"></div>
                <th:block th:if="${component.description ne null}">
                    <div th:replace="~{qxcmp/globals/components :: component(${component.description})}"></div>
                </th:block>
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </div>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(component.url)}">
        <a th:class="${component.getClassName()}" th:href="@{${component.url}}" th:target="${component.urlTarget}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                <div th:replace="~{qxcmp/globals/components :: component(${component.header})}"></div>
                <th:block th:if="${component.description ne null}">
                    <div th:replace="~{qxcmp/globals/components :: component(${component.description})}"></div>
                </th:block>
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </a>
    </th:block>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.list.item.ImageHeaderItem"*/-->
<th:block th:fragment="item-image-header(component)">
    <th:block th:if="${#strings.isEmpty(component.url)}">
        <div th:class="${component.getClassName()}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                <div th:replace="~{qxcmp/globals/components :: component(${component.header})}"></div>
                <th:block th:if="${component.description ne null}">
                    <div th:replace="~{qxcmp/globals/components :: component(${component.description})}"></div>
                </th:block>
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </div>
    </th:block>
    <th:block th:unless="${#strings.isEmpty(component.url)}">
        <a th:class="${component.getClassName()}" th:href="@{${component.url}}" th:target="${component.urlTarget}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
            <div th:class="|${component.contentAlignment} content|">
                <div th:replace="~{qxcmp/globals/components :: component(${component.header})}"></div>
                <th:block th:if="${component.description ne null}">
                    <div th:replace="~{qxcmp/globals/components :: component(${component.description})}"></div>
                </th:block>
                <div th:replace="~{:: sub-items(${component.items})}"></div>
            </div>
        </a>
    </th:block>
</th:block>

<div th:fragment="sub-items(items)" th:if="${not #lists.isEmpty(items)}" class="list">
    <th:block th:each="item : ${items}">
        <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
    </th:block>
</div>

</body>
</html>