<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.message.AbstractMessage"*/-->
<div th:fragment="default(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <th:block th:if="${component.icon eq null}">
        <i th:if="${component.closeable}" class="close icon"></i>
        <div th:replace="~{:: content(${component})}"></div>
    </th:block>
    <th:block th:if="${component.icon ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        <i th:if="${component.closeable}" class="close icon"></i>
        <div class="content">
            <div th:replace="~{:: content(${component})}"></div>
        </div>
    </th:block>
    <th:block th:if="${component.closeable}">
        <div th:replace="~{:: scripts(${component})}"></div>
    </th:block>
</div>

<th:block th:fragment="content(component)">
    <div class="header" th:utext="${component.title}"></div>
    <p th:utext="${component.content}"></p>
    <th:block th:if="${component.list ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.list})}"></div>
    </th:block>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.message.AbstractMessage"*/-->
<th:block th:fragment="scripts(message)">
    <script th:inline="javascript">
        $(document).ready(function () {
            var messageId = /*[[|#${message.id}|]]*/ "";
            $(messageId + " .close").on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                ;
            });
        });
    </script>
</th:block>
</body>
</html>