<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    默认分段
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.web.view.elements.segment.AbstractSegment"*/-->
<th:block th:fragment="segment(component)">
    <div th:class="${component.getClassName()}">
        <th:block th:each="component : ${component.components}">
            <div th:replace="~{qxcmp/globals/components :: component(${component})}"></div>
        </th:block>
    </div>
</th:block>

<!--/*
    分段组
*/-->
<!--/*@thymesVar id="segments" type="com.qxcmp.web.view.elements.segment.Segments"*/-->
<div th:fragment="segments(component)" th:class="${component.getClassName()}">
    <th:block th:each="segment : ${component.items}">
        <div th:replace="~{qxcmp/globals/components :: component(${segment})}"></div>
    </th:block>
</div>
</body>
</html>