<!--/*
    平台前端通用页面
*/-->
<!DOCTYPE html>
<html th:replace="~{qxcmp/layout :: frontend(layout=~{:: //body})}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:if="${mobileNavigation} ne null">
    <div class="container" style="flex: 1 0 auto; margin-bottom: 62px">
        <div th:replace="~{qxcmp/common :: navigation-view('mobile')}"></div>
    </div>
    <div th:replace="~{qxcmp/navigation :: mobile}"></div>
</th:block>
<th:block th:unless="${mobileNavigation} ne null">
    <div class="container">
        <div th:replace="~{qxcmp/common :: navigation-view('mobile')}"></div>
    </div>
</th:block>
</body>
</html>
