<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.components.finance.DepositComponent"*/-->
<th:block th:fragment="default(component)">
    <div class="ui horizontal divider">充值中心</div>
    <form name="deposit" class="ui form" method="post" th:action="${component.weixinActionUrl}">
        <input type="hidden" name="callback" th:value="${#request.getParameter('callback')}"/>
        <div class="qxcmp field">
            <label><i class="lock green icon"></i>充值金额</label>
            <input name="fee" placeholder="请输入充值金额" type="number" min="0" th:required="${true}"/>
        </div>
        <div class="qxcmp field">
            <label><i class="credit card alternative icon"></i>支付方式</label>
            <div class="ui selection dropdown">
                <input hidden="hidden" name="type"/>
                <i class="dropdown icon"></i>
                <div class="default text">请选择支付方式</div>
                <div class="menu">
                    <div th:if="${component.supportWeixin}" class="item" data-value="weixin">
                        <img th:src="@{/assets/images/weixinpay-logo.png}"/>
                        微信支付 | 微信安全支付
                    </div>
                </div>
            </div>
        </div>
        <button class="ui primary basic fluid button">确认充值</button>
    </form>

    <script th:inline="javascript">
        $(document).ready(function () {
            $(document.deposit).find(".ui.dropdown").dropdown({
                onChange: function () {
                    document.deposit.action = /*[[${component.weixinActionUrl}]]*/"";
                }
            }).dropdown("set selected", "weixin");
        });
    </script>
</th:block>

</body>
</html>