<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*
    登录表单
*/-->
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.AbstractComponent"*/-->
<th:block th:fragment="default(component)">
    <div class="ui container">
        <div class="row">
            <div class="sixteen wide column">
                <form class="ui form" th:action="@{/login}" method="post">
                    <div class="four wide column">用户名</div>
                    <div class="twelve wide column"><input name="username"/></div>
                    <div class="four wide column">密码</div>
                    <div class="twelve wide column"><input name="password" type="password"/></div>
                    <button class="ui button">登录</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>