$form-label-width: 25;
$form-component-width: 75;

.ui.form {

  .section {
    padding: 1rem 0;
  }

  .qxcmp.field {

    display: flex;
    flex-direction: row;
    align-items: baseline;

    > label {
      flex: $form-label-width;
      margin: 0 .85714286em 0 0;
      text-align: right;
      min-width: 96px;
    }

    > input, .component {
      flex: $form-component-width;
    }
  }
}