$avatar-field-size: 150px;
$album-field-size: 96px;
$number-field-width: 122.1px;

.ui.form {

  .section {
    padding: 1rem 0;
  }

  .submit.section {
    text-align: right;
    padding: 0;

    button {
      margin: 0;
    }
  }

  .qxcmp.field {

    display: flex;
    flex-direction: row;
    align-items: center;

    > label {
      flex: 1;
      margin: 0 .85714286em 0 0;
      text-align: right;
      min-width: 96px;

      .help.icon {
        margin: 0;
      }
    }

    > label:after {
      content: ":";
    }

    > input, .component {
      flex: 100;
    }
  }

  .qxcmp.required.field {

    > label:before {
      margin-right: 0.2em;
      content: "*";
      color: red;
      vertical-align: middle;
    }
  }

  .qxcmp.readonly.field {
    input {
      border: none;
      pointer-events: none;
      color: rgba(34, 36, 38, .65);
      padding-right: 0 !important;
    }
  }
}

/* Text input field */
.ui.form .text.input.field, .textarea.field {
  position: relative;

  input {
    padding-right: 50px;
  }

  .counter {
    position: absolute;
    right: 10px;
    top: 8px;
    color: lightgrey;
  }
}

/* Captcha field */
.ui.form .image.captcha.field {

  .captcha.section {
    padding: 0;
    flex: 100;
    display: flex;
    flex-direction: row;

    input {
      flex: 100;
    }

    .captcha.link {
      flex: 1;
      margin-left: 1rem;
      min-width: 120px;
      top: 12px;
      height: 37.8px;

      img {
        height: 37.8px;
      }
    }
  }
}

.ui.form .phone.captcha.field {

  align-items: center;

  .captcha.section {
    padding: 0;
    flex: 100;
    display: flex;
    flex-direction: column;

    .phone.number.section {
      padding: 0;
      margin: 0 0 1rem
    }

    .phone.captcha.section {
      padding: 0;
      display: flex;
      flex-direction: row;

      > input {
        flex: 100;
      }

      .captcha.button {
        margin-left: 1rem;
        width: 115px;
      }
    }
  }
}

/* Avatar field */
.ui.form .avatar.qxcmp.field {
  .upload-box {
    width: $avatar-field-size;
    height: $avatar-field-size;
    border: 1px dashed #d9d9d9;
    border-radius: .28571429rem;
    cursor: pointer;

    i.plus {
      display: table-cell;
      vertical-align: middle;
      width: $avatar-field-size;
      height: $avatar-field-size;
    }

    .avatar.image {
      vertical-align: middle;
      width: $avatar-field-size - 2px;
      height: $avatar-field-size - 2px;
    }

    .error-dimmer p {
      font-size: 0.7rem;
    }

    &:hover {
      border-color: rgba(34, 36, 38, .35);
    }
  }
}

/* Album field */
.ui.form .album.qxcmp.field {
  .album.upload.component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .upload-box {
      margin: 5px;
      width: $album-field-size;
      height: $album-field-size;
      border: 1px dashed #d9d9d9;
      border-radius: .28571429rem;
      cursor: pointer;

      i.plus {
        display: table-cell;
        vertical-align: middle;
        width: $album-field-size;
        height: $album-field-size;
      }

      .album.image {
        vertical-align: middle;
        width: $album-field-size - 12px;
        height: $album-field-size - 12px;
        margin: 5px;
      }

      .error-dimmer p {
        font-size: 0.7rem;
      }

      &:hover {
        border-color: rgba(34, 36, 38, .35);
      }
    }
  }
}

/* Number field */
.ui.form .number.qxcmp.field {

  .component {
    position: relative;

    .content:hover {

      span {
        visibility: visible;
        opacity: 1;
      }
    }

    input {
      width: $number-field-width;
      padding-right: 25px;
    }

    span {
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s, opacity 0.3s linear;

      i.icon {
        margin: 0 0.15rem;
      }
    }

    span:hover {
      i.icon {
        color: rgba(34, 36, 38, .35);
      }
    }

    .plus {
      position: absolute;
      left: 100px;
      border-left: 1px solid rgba(34, 36, 38, .15);
      border-bottom: 1px solid rgba(34, 36, 38, .15);
      height: 18.9px;
    }

    .minus {
      position: absolute;
      left: 100px;
      top: 18.9px;
      border-left: 1px solid rgba(34, 36, 38, .15);
      height: 18.9px;
    }
  }
}

/* File upload field */
.ui.form .qxcmp-file-upload {
  .component {
    .ui.list {
      margin-top: 0;

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;

        .info {
          display: flex;
          width: 100%;
          .remove.icon {
            display: none;
          }

          .content {
            flex: 1;
          }
        }

        .ui.progress {
          width: 100%;
        }

        &:hover {
          .remove.icon {
            display: inherit;
          }
        }
      }
    }
  }
}