$sidebar-width: 200px;
$sidebar-top-menu-height: 48px;
$sidebar-top-menu-mobile-height: 54px;
$sidebar-top-menu-logo-size: 32px;
$sidebar-bottom-menu-height: 40px;
$sidebar-bottom-menu-mobile-height: 70.6px;

.ui.sidebar + .pusher {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ui.sidebar.mobile {

  background: white;

  .item {
    color: #666;

    &:hover {
      color: #999 !important;
    }
  }
}

.ui.top-fixed-menu.sidebar {
  width: $sidebar-width;
  padding-top: $sidebar-top-menu-height;

  + .pusher {
    padding-top: $sidebar-top-menu-height;
  }
}

.ui.top-fixed-menu.mobile.sidebar {
  padding-top: $sidebar-top-menu-mobile-height;

  + .pusher {
    padding-top: $sidebar-top-menu-mobile-height;
  }
}

.ui.bottom-fixed-menu.sidebar {
  padding-bottom: $sidebar-bottom-menu-height;

  + .pusher {
    padding-bottom: $sidebar-bottom-menu-height;;
  }
}

.ui.bottom-fixed-menu.mobile.sidebar {
  padding-bottom: $sidebar-bottom-menu-mobile-height;

  + .pusher {
    padding-bottom: $sidebar-bottom-menu-mobile-height;;
  }
}

.ui.menu {
  .logo.item {
    width: $sidebar-width;
    padding: 8px;

    img {
      width: $sidebar-top-menu-logo-size;
    }
  }

  .sidebar.item {
    width: $sidebar-width;

    i.icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .ui.menu {
    .sidebar.item {
      width: $sidebar-width / 2;
    }
  }
}

@media only screen and (max-width: 767px) {
  .ui.menu {
    .sidebar.item {
      width: $sidebar-width / 3;
    }
  }
}

.ui.top.fixed.menu {
  .item.logo .title {
    margin-left: 8px;
    font-weight: bold;
  }
  .item.backend.account {
    padding: 8px;

    .ui.image {
      width: 32px;
      height: 32px;
    }
  }
}

.qxcmp-mobile-logout-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
}
