$sidebar-width: 150px;
$sidebar-top-menu-height: 48px;
$sidebar-top-menu-logo-size: 32px;
$sidebar-bottom-menu-height: 40px;

.ui.sidebar + .pusher {
  overflow-y: scroll;
}

.ui.top-fixed-menu.sidebar {
  padding-top: $sidebar-top-menu-height;

  + .pusher {
    padding-top: $sidebar-top-menu-height;
  }
}

.ui.bottom-fixed-menu.sidebar {
  padding-bottom: $sidebar-bottom-menu-height;

  + .pusher {
    padding-bottom: $sidebar-bottom-menu-height;;
  }
}

.ui.menu {
  .logo.item {
    width: $sidebar-width;
    padding: 8px;

    img {
      width: $sidebar-top-menu-logo-size;
    }
  }

  .sidebar.item {
    width: $sidebar-width;

    i.icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .ui.menu {
    .logo.item {
      width: $sidebar-width / 2;
    }

    .sidebar.item {
      width: $sidebar-width / 2;
    }
  }
}

@media only screen and (max-width: 767px) {
  .ui.menu {
    .logo.item {
      width: $sidebar-width / 3;
    }

    .sidebar.item {
      width: $sidebar-width / 3;
    }
  }
}