/* Mobile list */
.qxcmp.mobile.list {

  border-top: 1px solid rgba(34, 36, 38, .15);
  border-left: 1px solid rgba(34, 36, 38, .15);
  border-right: 1px solid rgba(34, 36, 38, .15);
  margin-bottom: 1em;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    padding: 1em;
    color: #666;

    .pre-content {
      width: 32px;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: row;

      .ui.image {
        width: 64px;
        height: 64px;
        margin-right: 1em;
      }
    }

    .extra-content {
      font-size: 0.85em;
      color: #999;
    }

    .action {
      margin-left: 1em;
      min-width: 18px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.03);
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

/* Profile header */
.ui.profile-header {
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 1em;
  color: #666;

  .ui.image {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;

    img {
      width: 64px;
      height: 64px;
      margin: 0;
    }
  }

  .content {
    padding: 0;
    margin-top: 0.3em;
    display: block;
  }
}