<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="component" type="com.qxcmp.web.view.modules.accordion.AbstractAccordion"*/-->
<div th:fragment="accordion(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <th:block th:each="item : ${component.items}">
        <div th:replace="~{qxcmp/modules/accordion :: item(${item})}"></div>
    </th:block>
    <div th:replace="~{qxcmp/modules/accordion :: scripts(${component})}"></div>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.modules.accordion.AbstractAccordionItem"*/-->
<th:block th:fragment="item(component)">
    <div th:class="|${component.active ? 'active ' : ''}title|">
        <i class="dropdown icon"></i>
        [[${component.title}]]
    </div>
    <div th:class="|${component.active ? 'active ' : ''}content|">
        <div th:replace="~{qxcmp/globals/components :: component(${component.content})}"></div>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.web.view.modules.sidebar.AbstractSidebar"*/-->
<th:block th:fragment="scripts(accordion)">
    <script th:inline="javascript">
        $(document).ready(function () {
            var accordionId = /*[[|#${accordion.id}|]]*/ "";
            $(accordionId).accordion({
                exclusive : /*[[${accordion.exclusive}]]*/ true
            });
        });
    </script>
</th:block>
</body>
</html>