<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.MenuDropdown"*/-->
<th:block th:fragment="menu(component)">
    <div th:class="${component.getClassName()}">
        <span class="text" th:utext="${component.text}"></span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <th:block th:each="item : ${component.items}">
                <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
            </th:block>
        </div>
    </div>
    <script th:replace="~{:: scripts}"></script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.ButtonDropdown"*/-->
<th:block th:fragment="button(component)">
    <div th:class="${component.getClassName()}">
        <i th:unless="${#strings.isEmpty(component.icon)}" th:class="|${component.icon} icon|"></i>
        <span th:unless="${#strings.isEmpty(component.text)}" class="text" th:utext="${component.text}"></span>
        <div class="menu">
            <th:block th:each="item : ${component.items}">
                <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
            </th:block>
        </div>
    </div>
    <script th:replace="~{:: scripts}"></script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.TextDropdownItem"*/-->
<th:block th:fragment="item-text(component)">
    <div th:class="${component.getClassName()}">
        [[${component.text}]]
        <span th:unless="${#strings.isEmpty(component.description)}" class="description"
              th:utext="${component.description}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.HeaderDropdownItem"*/-->
<th:block th:fragment="item-header(component)">
    <div th:class="${component.getClassName()}">
        <i th:unless="${#strings.isEmpty(component.icon)}" th:class="|${component.icon} icon|"></i>
        [[${component.text}]]
        <span th:unless="${#strings.isEmpty(component.description)}" class="description"
              th:utext="${component.description}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.DividerDropdownItem"*/-->
<th:block th:fragment="item-divider(component)">
    <div class="divider"></div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.IconDropdownItem"*/-->
<th:block th:fragment="item-icon(component)">
    <div th:class="${component.getClassName()}">
        <i th:class="|${component.icon} icon|"></i>
        [[${component.text}]]
        <span th:unless="${#strings.isEmpty(component.description)}" class="description"
              th:utext="${component.description}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.ImageDropdownItem"*/-->
<th:block th:fragment="item-image(component)">
    <div th:class="${component.getClassName()}">
        <img th:class="|ui ${component.avatar ? 'avatar' : ''} image|" th:src="@{${component.image}}"/>
        [[${component.text}]]
        <span th:unless="${#strings.isEmpty(component.description)}" class="description"
              th:utext="${component.description}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.LabelDropdownItem"*/-->
<th:block th:fragment="item-label(component)">
    <div th:class="${component.getClassName()}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.label})}"></div>
        [[${component.text}]]
        <span th:unless="${#strings.isEmpty(component.description)}" class="description"
              th:utext="${component.description}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.InputDropdownItem"*/-->
<th:block th:fragment="item-input(component)">
    <div th:class="${component.getClassName()}">
        <i th:class="|${component.icon} icon|"></i>
        <input th:name="${component.name}" th:placeholder="${component.placeholder}"/>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.MenuDropdownItem"*/-->
<th:block th:fragment="item-menu(component)">
    <div th:class="${component.getClassName()}">
        <i th:class="|${component.direction.getClassName()} dropdown icon|"></i>
        <span class="text" th:utext="${component.text}"></span>
        <div th:class="|${component.direction.getClassName()} menu|">
            <th:block th:each="item : ${component.items}">
                <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
            </th:block>
        </div>
    </div>
</th:block>

<script th:fragment="scripts">
    $(document).ready(function () {
        $(".ui.dropdown").dropdown();
    });
</script>
</body>
</html>