<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.Dropdown"*/-->
<th:block th:fragment="dropdown(component)">
    <div th:id="${component.id}" th:class="${component.getClassName()}">
        <span class="text" th:utext="${component.text}"></span>
        <i class="dropdown icon"></i>
        <div th:replace="~{qxcmp/globals/components :: component(${component.menu})}"></div>
    </div>
    <script th:replace="~{:: scripts(${component})}"></script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.Selection"*/-->
<th:block th:fragment="selection(component)">
    <div th:id="${component.id}" th:class="${component.getClassName()}">
        <input th:name="${component.name}" type="hidden"/>
        <i class="dropdown icon"></i>
        <div class="default text" th:utext="${component.text}"></div>
        <div th:replace="~{qxcmp/globals/components :: component(${component.menu})}"></div>
    </div>
    <script th:replace="~{:: scripts(${component})}"></script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.AbstractDropdownMenu"*/-->
<th:block th:fragment="menu(component)">
    <div th:class="${component.getClassName()}">
        <th:block th:each="item : ${component.items}">
            <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
        </th:block>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.TextItem"*/-->
<th:block th:fragment="item-text(component)">
    <div th:class="${component.getClassName()}" th:attr="data-value=${component.value}">
        [[${component.text}]]
        <span th:replace="~{:: item-description(${component})}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.AbstractComponent"*/-->
<th:block th:fragment="item-header(component)">
    <div th:class="${component.getClassName()}">
        <i th:unless="${#strings.isEmpty(component.icon)}" th:class="|${component.icon} icon|"></i>
        [[${component.text}]]
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.DividerItem"*/-->
<div th:fragment="item-divider(component)" class="divider"></div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.IconItem"*/-->
<th:block th:fragment="item-icon(component)">
    <div th:class="${component.getClassName()}" th:attr="data-value=${component.value}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.icon})}"></div>
        [[${component.text}]]
        <span th:replace="~{:: item-description(${component})}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.ImageItem"*/-->
<th:block th:fragment="item-image(component)">
    <div th:class="${component.getClassName()}" th:attr="data-value=${component.value}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.image})}"></div>
        [[${component.text}]]
        <span th:replace="~{:: item-description(${component})}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.LabelItem"*/-->
<th:block th:fragment="item-label(component)">
    <div th:class="${component.getClassName()}" th:attr="data-value=${component.value}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.label})}"></div>
        [[${component.text}]]
        <span th:replace="~{:: item-description(${component})}"></span>
    </div>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.item.MenuItem"*/-->
<th:block th:fragment="item-menu(component)">
    <div th:class="${component.getClassName()}">
        <i th:class="|${component.direction} dropdown icon|"></i>
        <span class="text" th:utext="${component.text}"></span>
        <div th:class="|${component.direction} menu|">
            <th:block th:each="item : ${component.items}">
                <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
            </th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="item-description(component)" th:unless="${#strings.isEmpty(component.description)}">
    <span class="description" th:utext="${component.description}"></span>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.dropdown.AbstractDropdown"*/-->
<th:block th:fragment="scripts(dropdown)">
    <script th:inline="javascript">
        $(document).ready(function () {
            var dropdownId = /*[[|#${dropdown.id}|]]*/ "";
            var dropdownConfig = /*[[${dropdown.config}]]*/ {};
            $(dropdownId).dropdown(dropdownConfig);
        });
    </script>
</th:block>
</body>
</html>