<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.AbstractForm"*/-->
<form th:fragment="form(component)" th:object="${__${component.object}__}"
      th:id="${component.id}" th:name="${component.name} ?: _" th:class="${component.getClassName()}"
      th:action="@{${component.action}} ?: _" th:method="${component.method ?: _}" th:enctype="${component.enctype}"
      th:autocomplete="not ${component.disableAutoComplete}" th:target="${component.target} ?: _">
    <th:block th:if="${component.infoMessage ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.infoMessage})}"></div>
    </th:block>
    <th:block th:if="${component.successMessage ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.successMessage})}"></div>
    </th:block>
    <th:block th:if="${component.warningMessage ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.warningMessage})}"></div>
    </th:block>
    <th:block th:if="${component.errorMessage ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.errorMessage})}"></div>
    </th:block>
    <th:block th:each="section : ${component.sections}">
        <div th:replace="~{:: section(${component}, ${section})}"></div>
    </th:block>
    <div class="submit section">
        <div th:replace="~{qxcmp/globals/components :: component(${component.submitButton})}"></div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var button = $(id).find(".submit.section button");

            $(id).submit(function () {
                $(button).addClass("disabled loading");
            });
        });
    </script>
</form>

<!--/*@thymesVar id="form" type="com.qxcmp.framework.web.view.modules.form.AbstractForm"*/-->
<!--/*@thymesVar id="section" type="com.qxcmp.framework.web.view.modules.form.AbstractFormSection"*/-->
<div th:fragment="section(form, section)" class="section">
    <div th:if="${#lists.size(form.sections) gt 1}" class="ui dividing small header" th:utext="${section.name}"></div>
    <th:block th:each="field : ${section.fields}">
        <div th:replace="~{qxcmp/globals/components :: component(${field})}"></div>
    </th:block>
</div>

<label th:fragment="field-label(component)">
    [[${component.label}]] <i th:if="not ${#strings.isEmpty(component.tooltip)}"
                              class="help circle outline link icon" th:attr="data-content=${component.tooltip}"></i>
</label>

<th:block th:fragment="field-common-script(component)">
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var helpIcon = $(id).find(".help.icon");
            $(helpIcon).popup({position: 'top center'});
        });
    </script>
</th:block>

<th:block th:fragment="field-text-script(component)">
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var input = $(id).find("input,textarea");
            var span = $(input).next("span");
            var maxLength = $(span).attr("data-max-length");

            span.text($(input).val().length + "/" + maxLength);

            $(input).focus(function () {
                span.css("display", "inherit")
            });

            $(input).blur(function () {
                span.css("display", "none")
            });

            $(input).on('keyup', function () {
                var count = $(this).val().length;
                span.text(count + "/" + maxLength);
            });
        });
    </script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.TextInputField"*/-->
<div th:fragment="field-text-input(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <input th:field="*{__${component.name}__}" th:placeholder="${component.placeholder}"
           th:maxlength="${(component.maxLength gt 0) ? component.maxLength : _}"
           th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
           th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"/>
    <span class="counter" style="display: none" th:attr="data-max-length=${component.maxLength}"></span>
    <script th:replace="~{:: field-common-script(${component})}"></script>
    <script th:replace="~{:: field-text-script(${component})}"></script>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.TextInputField"*/-->
<div th:fragment="field-password(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <input th:field="*{__${component.name}__}" type="password" th:placeholder="${component.placeholder}"
           th:maxlength="${(component.maxLength gt 0) ? component.maxLength : _}"
           th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
           th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"/>
    <span class="counter" style="display: none" th:attr="data-max-length=${component.maxLength}"></span>
    <script th:replace="~{:: field-common-script(${component})}"></script>
    <script th:replace="~{:: field-text-script(${component})}"></script>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.EmailField"*/-->
<div th:fragment="field-email(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <input th:field="*{__${component.name}__}" type="email" th:placeholder="${component.placeholder}"
           th:maxlength="${(component.maxLength gt 0) ? component.maxLength : _}"
           th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
           th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"/>
    <!--<div class="component">-->
    <!--<div class="ui search selection fluid dropdown">-->
    <!--<input th:field="*{__${component.name}__}" type="hidden"/>-->
    <!--<i class="dropdown icon"></i>-->
    <!--<div class="default text" th:utext="${component.placeholder}"></div>-->
    <!--<div class="menu">-->
    <!--<div th:each="suffix : ${component.suffixList}" class="item" th:attr="data-suffix=|@${suffix}|"-->
    <!--th:utext="|@${suffix}|"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <script th:replace="~{:: field-common-script(${component})}"></script>
    <script th:replace="~{:: field-text-script(${component})}"></script>
    <!--<script th:inline="javascript">-->
    <!--$(document).ready(function () {-->
    <!--var id = /*[[|#${component.id}|]]*/ "";-->
    <!--var dropdown = $(id).find(".component .ui.dropdown");-->
    <!--$(dropdown).dropdown();-->
    <!--var searchInput = $(dropdown).find("input.search");-->
    <!--$(searchInput).on("keyup", function () {-->
    <!--var value = $(this).val().split("@")[0];-->
    <!--var extraVale = $(this).val().split("@")[1];-->
    <!--$.each($(dropdown).find(".menu .item"), function () {-->
    <!--$(this).text(value + $(this).attr("data-suffix"));-->
    <!--});-->
    <!--$(searchInput).click();-->
    <!--});-->
    <!--});-->
    <!--</script>-->
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.PhoneField"*/-->
<div th:fragment="field-phone(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <input th:field="*{__${component.name}__}" type="text" th:placeholder="${component.placeholder}"
           th:maxlength="${(component.maxLength gt 0) ? component.maxLength : _}"
           th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
           th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"/>
    <script th:replace="~{:: field-common-script(${component})}"></script>
    <script th:replace="~{:: field-text-script(${component})}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var input = $(id).find("input");

            $(input).on("change", function () {
                var phoneNumber = $(input).val();

                if (!(/^1[34578]\d{9}$/.test(phoneNumber))) {
                    $(id).addClass("error");
                    return false;
                } else {
                    $(id).removeClass("error");
                }
            })
        });
    </script>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.TextAreaField"*/-->
<div th:fragment="field-text-area(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <textarea th:field="*{__${component.name}__}" type="password" th:placeholder="${component.placeholder}"
              th:maxlength="${(component.maxLength gt 0) ? component.maxLength : _}" th:rows="${component.rows}"
              th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
              th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"></textarea>
    <span class="counter" style="display: none" th:attr="data-max-length=${component.maxLength}"></span>
    <script th:replace="~{:: field-common-script(${component})}"></script>
    <script th:replace="~{:: field-text-script(${component})}"></script>
</div>


<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.ImageCaptchaField"*/-->
<div th:fragment="field-captcha-image(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <input th:field="*{__${component.name}__}" th:placeholder="${component.placeholder}"
           th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
           th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"/>
    <a class="captcha link" href="#">
        <img th:src="@{${component.captchaUrl}}"/>
    </a>
    <script th:replace="~{:: field-common-script(${component})}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var captchaLink = $(id).find(".captcha.link");
            var image = $(captchaLink).find("img");

            $(captchaLink).on("click", function (e) {
                var src = $(image).attr("src");
                $(image).attr("src", function () {
                    var timestamp = (new Date()).valueOf();
                    if ((src.indexOf("?") >= 0)) {
                        src = src.substring(0, src.indexOf('?')) + "?timestamp=" + timestamp;
                    } else {
                        src = src + "?timestamp=" + timestamp;
                    }
                    return src;
                });
                e.preventDefault();
            });
        });
    </script>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.PhoneCaptchaField"*/-->
<div th:fragment="field-captcha-phone(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <label th:replace="~{:: field-label(${component})}"></label>
    <div class="captcha section">
        <div th:if="${#strings.isEmpty(component.phoneField)}" class="phone number section">
            <input th:id="|${component.name}-phone|" placeholder="请输入接受短信的手机号码"/>
        </div>
        <div class="phone captcha section">
            <input th:field="*{__${component.name}__}" th:placeholder="${component.placeholder}"
                   th:autocomplete="not ${component.disableAutoComplete}" th:required="${component.required}"
                   th:autofocus="${component.autoFocus}" th:readonly="${component.readOnly}"/>
            <button class="ui basic secondary captcha button" type="button">获取短信验证码</button>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var phoneField = /*[['#' + (${#strings.isEmpty(component.phoneField)} ? ${component.name} + '-phone' : ${component.phoneField})]]*/"";
            var button = $(id).find(".captcha.button");
            var input = $(id).find(".phone.captcha.section input");
            var targetUrl = /*[[${component.captchaUrl}]]*/"";
            var interval = /*[[${component.interval}]]*/"";

            $(phoneField).on("keyup", function () {
                $(id).removeClass("error");
                $(input).val("");
            });

            $(button).on("click", function () {
                var phoneNumber = $(phoneField).val();

                if (!(/^1[34578]\d{9}$/.test(phoneNumber))) {
                    $(id).addClass("error");
                    $(input).val("手机号格式不正确");
                    return false;
                }

                $(button).addClass("disabled loading");

                $.ajax(targetUrl, {
                    type: "POST",
                    data: {
                        phone: phoneNumber
                    },
                    success: function () {

                        $(button).removeClass("loading");

                        var duration = interval;

                        var timer = setInterval(function () {
                            $(button).text(duration + "秒后可重发");
                            duration--;
                            if (duration === 0) {
                                clearInterval(timer);
                                $(button).text("重新发送");
                                $(button).removeClass("disabled loading");
                            }
                        }, 1000);
                    },
                    error: function (requset) {
                        $(id).addClass("error");
                        $(button).removeClass("disabled loading");
                        $(button).text("重新发送");
                        $(input).val(requset.responseText);
                    }
                });
            });
        });
    </script>
</div>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.form.field.AvatarField"*/-->
<div th:fragment="field-avatar(component)" th:id="${component.id}" th:class="${component.getClassName()}">
    <input th:field="*{__${component.name}__}" type="hidden"/>
    <input type="file" style="display: none" th:attr="data-max-size=${component.maxSize}"/>
    <label th:replace="~{:: field-label(${component})}"></label>
    <div class="avatar upload component">
        <div class="upload-box">
            <div class="ui progress-dimmer dimmer">
                <div class="ui text loader"></div>
            </div>
            <div class="ui error-dimmer dimmer">
                <div class="content">
                    <div class="center">
                        <p class="ui inverted red icon header">
                            <i class="warning circle icon"></i>
                            <span></span>
                        </p>
                    </div>
                </div>
            </div>
            <i class="plus large grey icon"></i>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var component = $(id).find(".upload-box");
            var input = $(id).find("input[type='hidden']");
            var file = $(id).find("input[type='file']");
            var maxSize = $(file).attr("data-max-size");
            var progressDimmer = $(component).find(".ui.progress-dimmer");
            var errorDimmer = $(component).find(".ui.error-dimmer");

            $(component).on("click", function (e) {
                $(file).click();
                e.stopPropagation();
            });

            $(file).on("change", function () {

                if (this.files.length > 0) {
                    var file = this.files[0];

                    if (file.size > 1024 * maxSize) {
                        $(errorDimmer).find(".ui.header span").text("图片大小不能超过" + maxSize + "KB");
                        $(errorDimmer).dimmer("show");
                        setTimeout(function () {
                            $(errorDimmer).dimmer("hide");
                        }, 3000);
                        return;
                    }

                    var formData = new FormData();
                    formData.append("file", file);

                    $(progressDimmer).dimmer("show");

                    $.ajax("/api/image/upload", {
                        xhr: function () {
                            var xhr = $.ajaxSettings.xhr();

                            if (xhr.upload) {
                                xhr.upload.addEventListener("progress", function (e) {
                                    if (e.lengthComputable) {
                                        var percentComplete = e.loaded / e.total;
                                        percentComplete = parseInt(percentComplete * 100);
                                        $(progressDimmer).find(".ui.text.loader").text(percentComplete + "%");
                                    }
                                }, false);
                            }

                            return xhr;
                        },
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            $(input).val(response);
                            setImage();
                            $(progressDimmer).dimmer("hide");
                        },
                        error: function (response) {
                            $(progressDimmer).dimmer("hide");
                            $(errorDimmer).find(".ui.header span").text(response.responseText);
                            $(errorDimmer).dimmer("show");
                            setTimeout(function () {
                                $(errorDimmer).dimmer("hide");
                            }, 3000);
                        }
                    });
                }
            });

            setImage();

            function setImage() {
                if ($(input).val()) {
                    $(component).find("img,i.plus.icon").remove();
                    $(component).append($('<img class="avatar image" src="' + $(input).val() + '"/>'));
                }
            }
        });
    </script>
</div>
</body>
</html>