<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.pagination.Pagination"*/-->
<div th:fragment="default(component)" class="ui pagination menu">
    <a class="icon item" th:href="@{${component.getItemUrl(component.current - 1)}}"><i class="left chevron icon"></i></a>
    <a th:each="item : ${component.getItemList()}" th:class="|${item.active ? 'active ' : ''}item|"
       th:href="${item.url}" th:utext="${item.page}"></a>
    <a class="icon item" th:href="@{${component.getItemUrl(component.current + 1)}}"><i
            class="right chevron icon"></i></a>
</div>

</body>
</html>