<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.sidebar.Sidebar"*/-->
<th:block th:fragment="sidebar(component)">
    <th:block th:if="${component.topFixedMenu ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.topFixedMenu})}"></div>
    </th:block>
    <th:block th:if="${component.bottomFixedMenu ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.bottomFixedMenu})}"></div>
    </th:block>
    <div th:id="${component.id}" th:class="${component.getClassName()}">
        <th:block th:each="item : ${component.sideContent}">
            <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
        </th:block>
    </div>
    <div class="pusher">
        <th:block th:each="item : ${component.contents}">
            <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
        </th:block>
    </div>
    <script th:replace="~{:: scripts(${component})}"></script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.sidebar.AccordionMenuSidebar"*/-->
<th:block th:fragment="sidebar-accordion(component)">
    <th:block th:if="${component.topFixedMenu ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.topFixedMenu})}"></div>
    </th:block>
    <th:block th:if="${component.bottomFixedMenu ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.bottomFixedMenu})}"></div>
    </th:block>
    <div th:id="${component.id}" th:class="${component.getClassName()}">
        <th:block th:each="item : ${component.sideContent}">
            <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
        </th:block>
    </div>
    <div class="pusher">
        <th:block th:each="item : ${component.contents}">
            <div th:replace="~{qxcmp/globals/components :: component(${item})}"></div>
        </th:block>
    </div>
    <script th:replace="~{:: scripts(${component})}"></script>
    <script th:replace="~{qxcmp/modules/accordion :: scripts(${component})}"></script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.sidebar.AbstractSidebar"*/-->
<th:block th:fragment="scripts(sidebar)">
    <script th:inline="javascript">
        $(document).ready(function () {
            var sidebarId = /*[[|#${sidebar.id}|]]*/ "";
            var sidebarConfig = /*[[${sidebar.config}]]*/ {};
            $(sidebarId).sidebar(sidebarConfig);
            $(sidebarId).sidebar("attach events", /*[[${sidebar.attachEventsSelector}]]*/"", /*[[${sidebar.attachEventsName}]]*/"");
        });
    </script>
</th:block>
</body>
</html>