<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTable"*/-->
<table th:fragment="table(component)" th:class="${component.getClassName()}">
    <th:block th:if="${component.header ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.header})}"></div>
    </th:block>
    <th:block th:if="${component.body ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.body})}"></div>
    </th:block>
    <th:block th:if="${component.footer ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.footer})}"></div>
    </th:block>
</table>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTableHeader"*/-->
<th:block th:fragment="table-header(component)">
    <thead th:class="${component.getClassName()}">
    <th:block th:each="row : ${component.rows}">
        <div th:replace="~{qxcmp/globals/components :: component(${row})}"></div>
    </th:block>
    </thead>
</th:block>
<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTableBody"*/-->
<th:block th:fragment="table-body(component)">
    <tbody th:class="${component.getClassName()}">
    <th:block th:each="row : ${component.rows}">
        <div th:replace="~{qxcmp/globals/components :: component(${row})}"></div>
    </th:block>
    </tbody>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTableFooter"*/-->
<th:block th:fragment="table-footer(component)">
    <tfoot th:class="${component.getClassName()}">
    <th:block th:each="row : ${component.rows}">
        <div th:replace="~{qxcmp/globals/components :: component(${row})}"></div>
    </th:block>
    </tfoot>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTableRow"*/-->
<th:block th:fragment="table-row(component)">
    <tr th:class="${component.getClassName()}">
        <th:block th:each="cell : ${component.cells}">
            <div th:replace="~{qxcmp/globals/components :: component(${cell})}"></div>
        </th:block>
    </tr>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTableCell"*/-->
<th:block th:fragment="table-head(component)">
    <th th:class="${component.getClassName()}"
        th:rowspan="${component.rowSpan gt 1 ? component.rowSpan : _}"
        th:colspan="${component.colSpan gt 1 ? component.colSpan : _}">
        <th:block th:if="${component.component ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.component})}"></div>
        </th:block>
        <th:block th:if="${component.component eq null}" th:utext="${component.content}"/>
    </th>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.AbstractTableCell"*/-->
<th:block th:fragment="table-data(component)">
    <td th:class="${component.getClassName()}"
        th:rowspan="${component.rowSpan gt 1 ? component.rowSpan : _}"
        th:colspan="${component.colSpan gt 1 ? component.colSpan : _}">
        <th:block th:if="${component.component ne null}">
            <div th:replace="~{qxcmp/globals/components :: component(${component.component})}"></div>
        </th:block>
        <th:block th:if="${component.component eq null}" th:utext="${component.content}"/>
    </td>
</th:block>


<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.EntityTable"*/-->
<th:block th:fragment="entity-table(component)">
    <th:block th:if="${component.tableHeader ne null}">
        <div th:replace="~{qxcmp/globals/components :: component(${component.tableHeader})}"></div>
    </th:block>
    <div th:id="${component.id}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="ui inverted blurring load dimmer">
            <div class="ui text loader"></div>
        </div>
        <div th:replace="~{:: table(${component})}"></div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            var id = /*[[|#${component.id}|]]*/ "";
            var csrf = $(id).find("input[name='_csrf']").val();
            var loadDimmer = $(id).find(".ui.load.dimmer");
            var table = $(id).find("table");
            var rowActionButton = $(table).find("tbody tr td .action.button");

            $(loadDimmer).dimmer({
                closeable: false
            });

            $(rowActionButton).click(function () {
                var button = $(this);
                var action = $(button).attr("data-action");

                if (action) {
                    $(button).addClass("loading");

                    $.ajax(action, {
                        type: "POST",
                        data: {
                            "_csrf": csrf
                        },
                        success: function () {
                            $(button).removeClass("loading");
                            $(loadDimmer).dimmer("show");
                            window.location.reload();
                        },
                        error: function (response) {
                            $(button).removeClass("loading");
                            $(button).addClass("error");
                        }
                    });
                }
            });
        });
    </script>
</th:block>

<!--/*@thymesVar id="component" type="com.qxcmp.framework.web.view.modules.table.EntityTableActionButton"*/-->
<button th:fragment="action-button(component)" th:class="${component.getClassName()}"
        th:attr="data-action=@{${component.anchor.href}}" th:utext="${component.text}">
</button>
</body>
</html>