<!--/*
    文章相关UI组件

    实现版本： Materialize CSS
*/-->
<!DOCTYPE html>
<html th:lang="${#ctx.#locale}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="article" type="com.qxcmp.article.Article"*/-->

<!--/*
    文章审核组件
*/-->
<th:block th:fragment="auditor">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <div class="col s12">
                    <a class="btn waves-effect waves-light" th:href="@{publish}">发布该文章</a>
                    <a class="btn waves-effect waves-light" th:href="@{reject}">驳回该文章</a>
                </div>
                <div class="col s12">
                    <div class="section">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="col s12 m3 center-align">
                <h5>文章封面</h5>
                <div class="divider"></div>
                <div class="section">
                    <img class="responsive-img" th:src="@{${article.cover}}"/>
                </div>
            </div>
            <div class="col s12 m9">
                <div th:replace="~{qxcmp/dictionary :: basic(${dictionaryView})}"></div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>