<!--/*
    平台通用组件
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="../../../../../../qxcmp-ui-default-style/src/main/websrc/node_modules/materialize-css/dist/css/materialize.css"/>
</head>

<!--/*
    头部组件
*/-->
<head th:fragment="header">

    <!--/* 元数据 */-->
    <meta charset=" UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" th:content="${@QXCMPConfiguration.getKeywords()} ?: _"/>
    <meta name="description" th:content="${@QXCMPConfiguration.getDescription()} ?: _"/>

    <title th:text="${title} ?: ${@QXCMPConfiguration.getTitle()}"></title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{${@QXCMPConfiguration.getFavicon()}}"/>

    <script th:src="@{/assets/scripts/qxcmp.js}"></script>
</head>

<body>

<!--/*
    页面布局渲染组件
*/-->
<!--/*@thymesVar id="fragments" type="com.qxcmp.framework.view.component.Fragment"*/-->
<th:block th:fragment="render">
    <th:block th:each="fragments : ${fragments}">
        <div th:replace="~{__${fragments.fragmentFile}__ :: __${fragments.fragmentName}__}"></div>
    </th:block>
</th:block>

<!--/*
    页内导航栏视图
*/-->
<th:block th:fragment="navigation-view(device)">
    <th:block th:if="${normalNavigation eq null}">
        <div th:replace="~{qxcmp/common :: render}"></div>
    </th:block>
    <th:block th:unless="${normalNavigation eq null}">
        <div class="row">
            <div class="center-align col s12 m4 l2">
                <th:block th:if="${device eq 'mobile'}">
                    <div th:replace="~{qxcmp/navigation :: normal-mobile}"></div>
                </th:block>
                <th:block th:if="${device eq 'tablet'}">
                    <div th:replace="~{qxcmp/navigation :: normal}"></div>
                </th:block>
                <th:block th:if="${device eq 'default'}">
                    <div th:replace="~{qxcmp/navigation :: normal}"></div>
                </th:block>
            </div>
            <div class="col s12 m8 l10">
                <div th:replace="~{qxcmp/common :: render}"></div>
            </div>
        </div>
    </th:block>
</th:block>

<!--/*
    分页组件
*/-->
<!--/*@thymesVar id="pagination" type="com.qxcmp.framework.view.pagination.Pagination"*/-->
<th:block th:fragment="pagination">
    <ul th:object="${pagination}" class="center-align pagination">
        <li th:class="*{current eq 1} ? 'disabled' : 'waves-effect'">
            <a th:href="@{*{first}}"><i class="material-icons">first_page</i></a>
        </li>
        <li th:class="*{current eq 1} ? 'disabled' : 'waves-effect'">
            <a th:href="@{*{previous}}"><i class="material-icons">chevron_left</i></a>
        </li>
        <li th:each="item : *{paginationItems}" th:class="${item.isActive()} ? 'active' : 'waves-effect'">
            <a th:href="@{${item.link}}" th:text="${item.title}"></a>
        </li>
        <li th:class="*{current eq #lists.size(paginationItems)} ? 'disabled' : 'waves-effect'">
            <a th:href="@{*{next}}"><i class="material-icons">chevron_right</i></a>
        </li>
        <li th:class="*{current eq #lists.size(paginationItems)} ? 'disabled' : 'waves-effect'">
            <a th:href="@{*{last}}"><i class="material-icons">last_page</i></a>
        </li>
    </ul>
</th:block>

<!--/*
    分隔符组件
*/-->
<th:block th:fragment="divider(showDivider)">
    <div class="section">
        <div th:if="${showDivider}" class="divider"></div>
    </div>
</th:block>

<!--/*
    HTML显示组件
*/-->
<th:block th:fragment="text(content)">
    <div class="ql-snow">
        <div class="ql-editor" style="padding: 1rem 0;height: auto" th:utext="${content}"></div>
    </div>
</th:block>
</body>
</html>