<!--/*
    字典视图组件

    实现版本： Materialize CSS
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="../../../../../../qxcmp-ui-default-style/src/main/websrc/node_modules/materialize-css/dist/css/materialize.css"/>
</head>
<body>

<!--/*@thymesVar id="dictionaryView" type="com.qxcmp.framework.view.dictionary.DictionaryView"*/-->

<!--/*

    字典视图渲染组件

    该组件将字典视图渲染为表格

    必选参数：

    ${dictionaryView} : 字典视图对象

*/-->
<th:block th:fragment="basic(dictionaryView)">
    <h5 class="center-align" th:utext="${dictionaryView.title}"></h5>
    <table class="bordered">
        <tbody>
        <tr th:each="entry : ${dictionaryView.dictionary}">
            <th th:utext="${entry.key}"></th>
            <td th:utext="${entry.value}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>