<!--/*
    基本HTML组件

    实现版本： Materialize CSS
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="../../../../../../qxcmp-ui-default-style/src/main/websrc/node_modules/materialize-css/dist/css/materialize.css"/>
</head>
<body>

<!--/*
    超链接视图组件渲染
*/-->
<!--/*@thymesVar id="element" type="com.qxcmp.framework.view.component.Element"*/-->
<th:block th:fragment="basic(element)" th:object="${element}" th:switch="${element.type.getElement()}">
    <h1 th:case="h1" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></h1>
    <h2 th:case="h2" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></h2>
    <h3 th:case="h3" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></h3>
    <h4 th:case="h4" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></h4>
    <h5 th:case="h5" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></h5>
    <h6 th:case="h6" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></h6>
    <p th:case="p" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></p>
    <b th:case="b" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></b>
    <code th:case="code" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></code>
    <pre th:case="pre" th:style="|color: *{getColorHex()}; text-align: *{align.value}|" th:utext="*{content}"></pre>
</th:block>
</body>
</html>