<!--/*
    平台页面布局组件
*/-->
<!DOCTYPE html>

<!--/*
    平台后端页面布局
*/-->
<html th:fragment="backend" th:lang="${#ctx.#locale}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{qxcmp/common :: header}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{qxcmp/backend :: navbar}"></div>
    <div class="container">
        <div th:replace="${layout}"></div>
    </div>
</div>
<div th:replace="~{qxcmp/backend :: footer}"></div>
<div th:replace="~{qxcmp/backend :: sidebar}"></div>

<div th:replace="${scripts} ?: _"></div>
</body>
</html>

<!--/*
    平台前端页面布局
*/-->
<html th:fragment="frontend" th:lang="${#ctx.#locale}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{qxcmp/common :: header}"></head>
<body>
<div th:replace="${layout}"></div>
</body>
</html>