<!--/*
    超链接组件

    实现版本： Materialize CSS
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="../../../../../../qxcmp-ui-default-style/src/main/websrc/node_modules/materialize-css/dist/css/materialize.css"/>
</head>
<body>

<!--/*
    超链接视图组件列表渲染
*/-->
<th:block th:fragment="component">
</th:block>

<!--/*
    超链接视图组件渲染
*/-->
<!--/*@thymesVar id="link" type="com.qxcmp.framework.view.component.Link"*/-->
<th:block th:fragment="button(link)">
    <a class="btn waves-effect waves-light"
       th:href="${link.href}"
       th:target="${link.target}"
       th:utext="${link.title}"></a>
</th:block>
</body>
</html>