<!--/*
    列表视图组件

    实现版本： Materialize CSS
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="../../../../../../qxcmp-ui-default-style/src/main/websrc/node_modules/materialize-css/dist/css/materialize.css"/>
</head>
<body>
<!--/*@thymesVar id="listView" type="com.qxcmp.framework.view.list.ListView"*/-->


<!--/*

    列表视图 - 无图组件

*/-->
<th:block th:fragment="basic(listView)">
    <ul class="list">
        <a th:each="item : ${listView.items}" class="black-text list-item" th:href="${item.link}">
            <img th:unless="${#strings.isEmpty(item.image)}" th:src="@{${item.image}}"/>
            <div class="left-align list-item-content">
                <span th:utext="${item.title}"></span>
                <p class="grey-text" th:utext="${item.description}"></p>
            </div>
            <div class="right-align list-item-extra-content">
                <span th:unless="${#strings.isEmpty(item.extraContent)}" class="grey-text"
                      th:utext="${item.extraContent}"></span>
                <i th:if="${#strings.isEmpty(item.extraContent)}" class="small material-icons">chevron_right</i>
            </div>
        </a>
    </ul>
    <th:block th:if="${listView.pagination ne null}">
        <div th:replace="~{qxcmp/common :: pagination(pagination=${listView.pagination})}"></div>
    </th:block>
</th:block>

</body>
</html>