<!--/*
    微信公众号开发相关组件
*/-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>

<!--/*

    引入微信公众号 JS 文件并进行相关配置

    在调用任何微信公众号 JS-SDK 接口的时候必须先引入该模板

*/-->
<!--/*@thymesVar id="jsApiSignature" type="com.qxcmp.module.weixin.mp.WechatMpCGI.WxJsapiSignature"*/-->
<th:block th:fragment="config(component)">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script th:inline="javascript">
        var url = location.href.split('#')[0];
        $.get("/api/wxmp-cgi/jsapi", {url: url}, function (jsApiSignature) {
            wx.config({
                debug: jsApiSignature.debug,
                appId: jsApiSignature.appId,
                timestamp: jsApiSignature.timestamp,
                nonceStr: jsApiSignature.nonceStr,
                signature: jsApiSignature.signature,
                jsApiList: /*[[${component.apiList}]]*/ ""
            });
        });
    </script>
</th:block>

<th:block th:fragment="weixin-pay-script(component)">
    <!--/*@thymesVar id="jsApiSignature" type="me.chanjar.weixin.common.bean.WxJsapiSignature"*/-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script th:inline="javascript">
        var url = location.href.split('#')[0];
        $.get("/api/wxmp-cgi/jsapi", {url: url}, function (jsApiSignature) {
            wx.config({
                debug: jsApiSignature.debug,
                appId: jsApiSignature.appId,
                timestamp: jsApiSignature.timestamp,
                nonceStr: jsApiSignature.nonceStr,
                signature: jsApiSignature.signature,
                jsApiList: ['chooseWXPay']
            });
        });

        wx.ready(function () {
            wx.chooseWXPay({
                timestamp: [[${component.payInfo.get('timeStamp')}]], // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                nonceStr: [[${component.payInfo.get('nonceStr')}]], // 支付签名随机串，不长于 32 位
                package: [[${component.payInfo.get('package')}]], // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                signType: [[${component.payInfo.get('signType')}]], // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                paySign: [[${component.payInfo.get('paySign')}]], // 支付签名
                success: function () {
                    setInterval(function () {
                        $.get("/api/wxmp-cgi/pay/query", {outTradeNo: [[${component.depositOrder.id}]]}, function (response) {
                            if (response === "SUCCESS") {
                                document.title = "充值成功，正在跳转";
                                window.location = [[${callback}]];
                            }
                        });
                    }, 2000);
                },
                error: function (response) {
                    document.title = "充值失败，正在跳转";
                    window.location = [[${callback}]];
                }
            });
        });
    </script>
</th:block>

<th:block th:fragment="weixin-share-script(component)">
    <script th:inline="javascript">
        $(document).ready(function () {
            wx.ready(function () {
                wx.onMenuShareTimeline({
                    title: [[${component.title}]], // 分享标题
                    link: [[${component.link}]], // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: [[${component.imgUrl}]], // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

                wx.onMenuShareAppMessage({
                    title: [[${component.title}]], // 分享标题
                    desc: [[${component.desc}]], // 分享描述
                    link: [[${component.link}]], // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: [[${component.imgUrl}]], // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

                wx.onMenuShareQQ({
                    title: [[${component.title}]], // 分享标题
                    desc: [[${component.desc}]], // 分享描述
                    link: [[${component.link}]], // 分享链接
                    imgUrl: [[${component.imgUrl}]], // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

                wx.onMenuShareQZone({
                    title: [[${component.title}]], // 分享标题
                    desc: [[${component.desc}]], // 分享描述
                    link: [[${component.link}]], // 分享链接
                    imgUrl: [[${component.imgUrl}]], // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            })
        });
    </script>
</th:block>
</body>
</html>